<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>My Flights</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(.) styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>
<body ng-app="openflightsApp">
	<!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Add your site or application content here -->
	<div class="header">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
    <!-- note the ng-init and ng-click here: -->
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
					<a class="navbar-brand" href="#/"><i class="fa fa-plane"></i> My Flights</a>
				</div>

				<div class="collapse navbar-collapse" uib-collapse="navCollapsed">
        <ul class="nav navbar-nav">
						<li class="active"><a href="#/">Home</a></li>
						<li><a ng-href="#/addFlight">Add Flight</a></li>
						<li><a ng-href="#/flightlist">List Flights</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div ng-view=""></div>
	</div>

	<div class="footer">
		<div class="container">
			<p>
				<span class="glyphicon glyphicon-heart"></span> from Thorsten.
			</p>
		</div>
	</div>


<!-- Keycloak -->
	<script src="https://keycloak-pohl.rhcloud.com/auth/js/keycloak.js"></script>


	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/app.constants.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/about.js"></script>
	<script src="scripts/controllers/addflight.js"></script>
	<script src="scripts/controllers/flightlist.js"></script>
	<script src="scripts/services/autocomplete.js"></script>
	<script src="scripts/services/flightservice.js"></script>
<script src="scripts/controllers/flight/add.js"></script>
	<!-- endbuild -->
</body>
</html>
