<h1>Add a flight</h1>
<form role="form-inline">
  <div class="form-group">
    <label for="departure">Departure:</label>
    <div class="input-group">
      <input type="text" class="form-control"
        datetime-picker="MM/dd/yyyy HH:mm" ng-model="flight.departureLocal" ng-change="updateDate()"
        is-open="cal_open_departure" /> <span class="input-group-btn">
        <button type="button" class="btn btn-default"
          ng-click="openCalendar($event, 'departure')">
          <i class="fa fa-calendar"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="flightNo">Flight No:</label>
    <div class="input-group">
      <input type="text" class="form-control" id="flightNo" ng-change="loadMasterdata()"
        ng-model="flight.flightNo"> <span class="input-group-btn">
        <button type="button" class="btn btn-default"
          ng-click="autocomplete('flightNo')">
          <i class="fa fa-magic"></i>
        </button>
      </span>
    </div>
  </div>

</form>
