<script type="text/ng-template" id="addFlightSuccess.html">
<div  close="ok()">
    <div class="modal-header">
        <h4>Add flight</h4>
    </div>
    <div class="modal-body">
        <p>{{message}}</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()">Okay</button>
    </div>
  </div>
</script>

<h2>Add Flight</h2>

<div>
	<form role="form-inline">
		<div class="form-group">
			<label for="flightNo">Flight No:</label>
			<div class="input-group">
				<input type="text" class="form-control" id="flightNo" ng-change="loadMasterdata()"
					ng-model="flight.flightNo"> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="autocomplete('flightNo')">
						<i class="fa fa-magic"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="departure">Departure:</label>
			<div class="input-group">
				<input type="text" class="form-control"
					datetime-picker="MM/dd/yyyy HH:mm" ng-model="flight.departure.local" ng-change="updateDate()"
					is-open="cal_open_departure" /> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="openCalendar($event, 'departure')">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="arrival">Arrival:</label>
			<div class="input-group">
				<input type="text" class="form-control"
					datetime-picker="MM/dd/yyyy HH:mm" ng-model="flight.arrival.local" ng-change="updateDate()"
					is-open="cal_open_arrival" /> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="openCalendar($event, 'arrival')">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</div>

		</div>
		<div class="form-group">
			<label for="from">From:</label> <input type="text" ng-change="loadMasterdata()"
				class="form-control" id="from" ng-model="from">
			{{flight.from.name}}
		</div>
		<div class="form-group">
			<label for="to">To:</label> <input type="text" class="form-control" ng-change="loadMasterdata()"
				id="to" ng-model="to"> {{flight.to.name}}
		</div>

		<div class="form-group">
			<label for="seat">Seat:</label> <input type="text"
				class="form-control" id="seat" ng-model="flight.seat">
		</div>
		<div class="form-group">
			<label for="seatType">Seat Type:</label>
			<div>
				<div class="btn-group">
					<label class="btn btn-primary" ng-model="flight.seatType"
						uib-btn-radio="'A'">Aisle</label> <label class="btn btn-primary"
						ng-model="flight.seatType" uib-btn-radio="'M'">Middle</label> <label
						class="btn btn-primary" ng-model="flight.seatType"
						uib-btn-radio="'W'">Window</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="class">Class:</label>
			<div>
				<div class="btn-group">
					<label class="btn btn-primary" ng-model="flight.bookingClass"
						uib-btn-radio="'Y'">Economy</label> <label class="btn btn-primary"
						ng-model="flight.bookingClass" uib-btn-radio="'M'">Premium
						Eco</label> <label class="btn btn-primary" ng-model="flight.bookingClass"
						uib-btn-radio="'C'">Business</label> <label
						class="btn btn-primary" ng-model="flight.bookingClass"
						uib-btn-radio="'F'">First</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="reason">Reason:</label>
			<div>
			<div class="btn-group">
					<label class="btn btn-primary" ng-model="flight.reason"
						uib-btn-radio="'B'">Work</label> <label class="btn btn-primary"
						ng-model="flight.reason" uib-btn-radio="'L'">Leisure
						</label> <label class="btn btn-primary" ng-model="flight.reason"
						uib-btn-radio="'C'">Crew</label> <label
						class="btn btn-primary" ng-model="flight.reason"
						uib-btn-radio="'O'">Other</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="carrier">Carrier:</label> <input type="text"
				class="form-control" id="carrier" ng-model="flight.carrier.airlineName">
        <input type="text"
  				class="form-control" id="carrier" ng-model="flight.carrier.airlineCode">
		</div>
		<div class="form-group">
			<label for="acType">Aircraft Type:</label> <input type="text"
				class="form-control" id="acType" ng-model="flight.aircraft.aircraftType">
        <input type="text"
  				class="form-control" id="acTypeCode" ng-model="flight.aircraft.aircraftCode">
		</div>
		<div class="form-group">
			<label for="acTailsign">Aircract Tailsign:</label> <input type="text"
				class="form-control" id="acTailsign" ng-model="flight.aircraft.tailsign">
		</div>
		<button ng-click="save()" class="btn btn-default">Submit</button>
	</form>

</div>
<img class="img-rounded img-responsive"
	ng-src="http://www.gcmap.com/map?P={{flight.from}}-{{flight.to}}&MS=bm&&MX=720x360&PM=*" />
