<h1>Flight-List</h1>
<img class="img-rounded img-responsive"
	ng-src="http://www.gcmap.com/map?MS=bm&MP=rect&MX={{window.innerWidth}}x360&PM=*{{mapParameters}}" />

<ul class="list-group">
	<li ng-repeat="flight in flights" class="list-group-item">
		<div class="row">
			<div class="column col-xs-1">{{flight.carrier.code}}</div>
			<div class="column col-xs-3 col-sm-3 col-md-2 col-lg-1">
				{{flight.flightNo}}</div>
			<div class="column col-xs-5 col-sm-4 col-md-3 col-lg-2">
				{{flight.from.code}} <i class="fa fa-angle-right"></i> {{flight.to.code}}
			</div>
			<div class="column col-xs-3 col-sm-3 col-md-2 col-lg-1">{{flight.departure.local}}</div>
			<div class="column col-xs-3 col-sm-3 col-md-2 col-lg-1">
				distance</div>
			<div class="column col-xs-3 col-sm-3 col-md-2 col-lg-1">dauer</div>
			<div class="column col-xs-3 col-sm-3 col-md-2 col-lg-1">
				{{flight.acType}} {{flight.acTailsign}}</div>
			<div class="column col-xs-3 col-sm-3 col-md-2 col-lg-1">
				{{flight.seat}} {{flight.seatType}}</div>
			<div class="column col-xs-3 col-sm-3 col-md-2 col-lg-1">
				{{flight.bookingclass}}</div>
			<div class="column col-xs-3 col-sm-3 col-md-2 col-lg-1">
				{{flight.reason}}</div>
			<div class="column col-xs-1">
			<a class="btn btn-sm btn-success"
			ng-href="#/editFlight/{{flight.id}}">Edit</a>
			</div>
		</div>
	</li>
</ul>
