<div >
  <h1>Thorstens Flights</h1>
  <p class="lead">

    Demo
  </p>
  <div>
  <p><a class="btn btn-lg btn-success" ng-href="#/addFlight">Add Flight<span class="glyphicon glyphicon-ok"></span></a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/flightlist">List Flights<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>

</div>
